body {
  margin: 0
}

.bordered {
  border: 1px solid lightgray;
  padding: 4px;
  background-color: white;
}

.p {
  padding: 8px;
}

.p--half {
  padding: 4px;
}

.m {
  margin: 8px;
}

.mt {
  margin-top: 8px;
}

.m--half {
  margin: 4px;
}

.column {
  width: 200px;
}

.lane {
  display: flex;
  min-width: 900px;
}
