.bordered {
  border: 1px solid lightgray;
  padding: 4px;
  background-color: white;
}

.p {
  padding: 8px;
}

.p--half {
  padding: 4px;
}

.mt {
  margin-top: 8px;
}

.m--half {
  margin: 4px;
}

.task--styling {
  min-width: 175px;
}

.column {
  flex: 1 1 0;
}

.lane {
  display: flex;
  flex-wrap: wrap;
}
